@import "tailwindcss";

@font-face {
	font-family: "Jersey Title";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Jersey10-Regular.ttf");
}

@font-face {
	font-family: "Jersey";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Jersey20-Regular.ttf");
}

@font-face {
	font-family: "Nunito Sans";
	font-optical-sizing: auto;
	font-weight: 200 300 400 500 600 700 800 900 1000;
	font-style: normal;
	font-variation-settings:
		"wdth" 100,
		"YTLC" 500;
	src: url("/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

@font-face {
	font-family: "Nunito Sans";
	font-optical-sizing: auto;
	font-weight: 200 300 400 500 600 700 800 900 1000;
	font-style: italic;
	font-variation-settings:
		"wdth" 100,
		"YTLC" 500;
	src: url("/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

/* @font-face {
	font-family: "Pixelify Sans";
	font-optical-sizing: auto;
	font-weight: 400 500 600 700; 
	font-style: normal;
	src: url("/fonts/PixelifySans-VariableFont_wght.ttf");
} */

@font-face {
	font-family: "Jacquard";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Jacquard12-Regular.ttf");
}

@theme {
	--default-font-family: "Nunito Sans";
	--default-transition-duration: 250ms;
	--font-jersey: "Jersey";
	--font-jersey-title: "Jersey Title";
	--font-jacquard: "Jacquard";

	--color-cyan-1000: oklch(0.262 0.056 229.695);

	--animate-press: button-press 0.15s ease-in-out;

	@keyframes button-press {
		0% {
			transform: translateY(0rem);
			--tw-inset-shadow-color: transparent;
		}
		50% {
			transform: translateY(1.5px);
			--tw-inset-shadow-color: color-mix(
				in oklab,
				var(--color-black) /* #000 = #000000 */ 10%,
				transparent
			);
		}
		100% {
			transform: translateY(0rem);
			--tw-inset-shadow-color: transparent;
		}
	}
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

html::view-transition-group(*) {
	/* animation-duration: 400ms; */
	animation-timing-function: ease-in-out;
	/* background-color: rgb(0 0 0); */
}
